:root{
    --bgC1: #bbded6;
    --bgC2: #fae3d9;
    --frtC: #ffb6b9;
    --txtC: #61c0bf;
}

body {
    margin: 60px auto;
    width: 70%;
    background: linear-gradient(45deg, var(--frtC) 12%, transparent 0, transparent 88%, var(--frtC) 0),
    linear-gradient(135deg, transparent 37%, var(--bgC2) 0, var(--bgC2) 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, var(--frtC) 0, var(--frtC) 63%, transparent 0) var(--bgC1);
    background-size: 25px 25px;
}

nav {
    width: 100%;
    background-color: var(--bgC2);
    margin: 0 px;
    padding: 0 px;
    border-style: solid;
    border-color: var(--frtC);
    border-radius: 12px;
}
.navName {
    font-size: 2em;
    display: inline;
    font-family:'Garamond', 'Serif';
    color: var(--frtC);
    font-weight: bold;
    text-align: right;
}

/*the box which houses the columns*/
.box {
    border-style: dotted;
    overflow: hidden;
    background-color: var(--bgC2)
}

/*The columns*/
.lcolumn { /* The small left side column */
    margin: 10px;
    width: 35%;
    float: left;
}
.rcolumn { /* the must bigger right column */
    margin: 10px;
    width: 60%;
    float: right;
}
.r2column { /* the must bigger right column */
    margin: 10px;
    width: 60%;
    border-style: dashed;
    float: right;
}

nav ul, footer ul {
    font-family:'Garamond', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: var(--txtC);
}
a:hover {
    text-decoration: underline;
    background-color: var(--frtC);
    padding-top: 17px;
    padding-bottom: 17px;
    color: var(--bgC2);
}
h1 {
    font-size: 3em;
    font-family:'Garamond', 'Serif';
    color: var(--frtC);
    text-shadow: 3px 3px 1px var(--txtC);
}
h2 {
    font-size: 2em;
    font-family:'Impact', 'Sans-Serif';
    text-transform: 'uppercase';
    margin: 0px;
    padding: 0px;
    color: var(--txtC);
}
h3 {
    font-size: 1.5em;
    font-family:'Perpetua', 'Open Sans';
    font-style: italic;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: var(--txtC);
}
p {
    font-size: 1em;
    font-family:'Garamond', 'Sans-Serif';
    color: var(--txtC);
    padding-top: 0px;
    margin-top: 0px;
}
p.i {
    font-size: 1em;
    font-family:'Garamond', 'Sans-Serif';
    font-style: italic;
    color: var(--txtC);
    padding-top: 0px;
    margin-top: 0px;
}
p.b {
    font-size: 1em;
    font-family:'Garamond', 'Sans-Serif';
    font-weight: bold;
    color: var(--txtC);
    padding-top: 0px;
    margin-top: 0px;
}
p.h {
    font-size: 1em;
    font-family:'Garamond', 'Sans-Serif';
    color: var(--txtC);
    margin: 0px;
    padding: 0px;
}

/* Container holding the image and the text */
.imageContainer {
    position: relative;
    text-align: center;
    color: var(--bgC2);
    text-shadow: 1px 1px var(--txtC);
}
.bleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.tleft {
    position: absolute;
    top: 8px;
    left: 16px;
    text-align: left;
}
.tright {
    position: absolute;
    top: 8px;
    right: 16px;
}
.bright {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* progressbar */
.progbar {
   height: 1.5em;
   width: 100%;
   background-color: var(--bgC2);
   position: relative;
   border-style: solid;
   border-color: var(--frtC);
   border-radius: 12px;
}
.progbar:before {
    content: attr(data-label);
    font-size: 0.8em;
    font-family:'Garamond', 'Serif';
    position: absolute;
    text-align: center;
    top: 5px;
    left: 0;
    right: 0;
}
.progbar .value {
    background-color: var(--frtC);
    display: inline-block;
    height: 100%;
}

footer {
    border-top: 1px solid var(--frtC);
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}