body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Garamond', 'Sans-Serif';
    border: 3px #666;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #666;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Garamond', 'Serif';
    color: #f09;
}
h2 {
    font-size: 2em;
    font-family:'Impact', 'Sans-Serif';
    text-transform: 'uppercase';
}
h3 {
    font-size: 2em;
    font-family:'Perpetua', 'Open Sans';
    font-weight: bold;
}
p {
    font-family:'Garamond', 'Sans-Serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
